body {
font-family: Arial
color: darkgrey;
background: #f3f3f3
}

.container {
  margin-top: 0px;
  max-width: 1800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.text-alignment {
  text-align: right;

  padding-right: 1700px;

}

.text-2 {
  text-align: right;
  padding-right: 1700px;

}

.form-input {
  padding-left: 150px;
}

.service {
  margin: 0px 0px 0px 180px;
}
