html {
  min-height: 100%;
  position: relative;
  padding-top: 15px;
  font-family: 'light';
  letter-spacing: 2px;
}

body {
  margin: 0 0 100px;
  font-family: 'light';
}


@font-face {
    font-family: 'custom';
    src: url('BebasNeue Bold.otf') format('opentype');
}

@font-face {
    font-family: 'light';
    src: url('BebasNeue Light.otf') format('opentype');
}

#myCarousel .item {
  height: 400px;

}

.header {
  text-align: center;
}

h1 {
    font-family: 'custom';
    font-size: 70px;
}


.nav {
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #222
}

.nav > li {
  display: inline-block;
  padding: 0px 10px;
  vertical-align:
  color: #ffffff
  text-decoration:none;
}

.nav > li > a {
  text-decoration: none;
  color: white;
}

.nav > li > a:hover {
  text-decoration: none;
  color: white;
  background-color: grey;
  font-family: 'custom'
}

.nav > li > a:active {
  text-decoration: none;
  color: white;
}

.nav > li > a:visited {
  text-decoration: none;
  color: white;
}

#main {
  padding: 50px 0px 50px 0px;
}

.headerphoto {
  padding: 25px;
}

img {
    display: block;
    margin: auto;
}


p {
  text-align: center;
  font-family: 'light';
}

table {
  padding: 25px 0px;
}

th {
  font-size: 20px;
}

.menu-description {
  text-align: center;
  padding: 15px;
}

.bev {
  width: 20%;
  height: 25px;
}

table th {

}

.leftcolumn {
  text-align: right;
  font-weight: bold;
}

.rightcolumn {
text-align: left;
}

.contact-info {
  color: #ffffff;
}


footer {
  position:absolute;
  left: 0px;
  bottom: 0px;
  width:100%;
  padding: 15px;
  background-color: #222
}
