html body {
  background: white;
  font-family: 'arial';
  max-height: none;
}


@font-face {
  font-family: 'custom';
  src: url('fonts/LemonMilk.otf'); format('opentype');
}


.album-img {
  background-image:url("images/talbum3.png");
  background-repeat: no-repeat;
  background-position:center;
  padding-top: 400px;
  max-height: 100px;
}

.classname {
  margin: 150px 0px 0px 0px;
  font-family: 'custom';
  font-size: 75pt;
  letter-spacing: 17px;
  color: #F9D164;
}


.releasedate {
  margin-bottom: 10px;
  font family: 'custom'
}

.jessicamanning {

font-family: arial;
}

.members {
  font-family: 'custom';
}

ul {
}

li, td {
  color: black;
  font-style: italic;
}

td {
  text-align: center;
}

table {
  background-color:#F9D164;
  margin-bottom: 50px;
}
